Thumbs.db
[Bb]in/
[Dd]ebug/
[Rr]elease/
Xmega_loader_128A1U/
.vs/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.hex
*.atsln
*.eep
*.lib
*.sbr
*.bat
obj/

_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
